<!-- ici on veut afficher app-template-full-width -->
<!-- binding = associer -->
<!-- on veut que app-template-container
accepte également la propriété du parent
-->

<!-- dans ce composant, on a accès au tableau de commandes -->

<app-template-full-width [title]="titleParent">

    <!-- essayer de faire passer votre tableau de commandes
     à app-table-light + verifier avec un console.log
    -->
    <app-table-light [collection]='collectionParent' [headers]='headers'></app-table-light>

</app-template-full-width>