<!-- ici on veut afficher app-template-full-width -->
<!-- binding = associer -->
<!-- on veut que app-template-container
accepte également la propriété du parent
-->

<!-- dans ce composant, on a accès au tableau de commandes -->

<!-- ici, on affiche app-template-full-width que si collection returne true -->



<!-- *ngIf='collection$ | async as collection' -->
<app-template-full-width [title]="titleParent" *ngIf="collection$ | async as collection">

    <!-- essayer de faire passer votre tableau de commandes
     à app-table-light + verifier avec un console.log
    -->
    <app-table-light [headers]=' headers'>

        <!-- ici on veut projeter toute la partie <td> -->
        <!-- utilisation du ng-content dans app-table-light -->
        <tr *ngFor='let item of collection '>
            <!--table data cells (td)-->
            <td>{{item.typePresta | uppercase }}</td>
            <td>{{item.client}}</td>
            <td>{{item.nbJours}}</td>
            <td>{{item.tjmHt}}</td>
            <td>{{item | total }}</td>
            <td>{{item | total :true}}</td>
            <!-- [ngClass]="{'state-option': item.state === 'OPTION' }" -->
            <!-- <td [ngClass]="{
              'state-option': item.state === 'OPTION',
              'state-cancelled': item.state === 'CANCELLED',
              'state-confirmed': item.state === 'CONFIRMED'
            }"> -->
            <td appState [etat]='item.state'>

                <!-- ici un menu déroulant -->

                <select (change)='changeState(item, $event)'>
                    <option
                    *ngFor='let state of states'
                    [value]="state"
                    [selected]='state === item.state'>{{state}}</option>

                </select>
            </td>
        </tr>

    </app-table-light>

    <app-btn label='Ajouter' route='add' styleBtn='btn btn-primary'></app-btn>
    <!-- styleBtn = 'btn btn-primary ' -->
    <!-- route = 'add ' -->
    <!-- label= 'Ajouter ' -->

</app-template-full-width>