<header class="fixed-top">

  <!-- utiliser ng-content pour projeter ce bouton -->
  <!-- <button (click)='onSubmit()' >Open/close</button> -->

  <span (click)='onSubmit()'>
    <ng-content
    *ngIf='open'
    select='.tr-btn-close'
    ></ng-content>

    <ng-content
    *ngIf='!open'
    select='.tr-btn-open'>
    </ng-content>

  </span>


</header>
<!-- [ngClass]={'class' : proprieteBooleenne } -->

<main [ngClass]="{'close-aside' : !open}">
  <div class="shadow position-fixed">
  </div>
  <aside>
    <div class="scroller">
      <ng-content select='.tr-nav'></ng-content>
    </div>
  </aside>
  <div class="page">
    <div class="contents">
     <!-- ici on a un ng-content -->
     <!-- ici on projète le router-outlet -->
     <ng-content select='.tr-router'></ng-content>
    </div>
    <footer>
      <ng-content select='.tr-footer'></ng-content>
    </footer>
  </div>
</main>

